/*JE N'ARRIVE PAS À PLACER LE FOOTER EN BAS DE PAGE*/

body {
  padding: 0;
  margin: 0;
  margin-right: 0;
  width: 100vw;
  background-color: #F9DBBD;
}

html {
  scrollbar-width: none;
}


/* .rideau {
  position: fixed;
  top: 0;
  width: 100vw;
  /* height: 100vh;
  Hauteur initiale à 0 */
/* background-color: #132A13;
  z-index: 3;
  /* Pour s'assurer que le rideau est au-dessus de tous les autres éléments */
/* transition: width 1s ease;
} */

header,
footer {
  display: flex;
  justify-content: right;
}


header p,
footer p {
  margin: 1.5vh;
  padding: 0 2vw;
  width: 3vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #450920;
  background-color: white;
  font-weight: bold;
  font-style: italic;
}

a {
  text-decoration: none;
  color:#450920;
  font-family: 'Playfair Display', sans-serif;
}

.block1Photo {
  height: 100vh;
}


.block1 {
  display: flex;
  position: absolute;
  z-index: 0;
}


#carreRouge {
  background-color: #450920;
  position: relative;
  right: 750px;
  width: 39vw;
  height: 70vh;
  margin-top: 7vh;
  transition: right 2s ease;
}


#carreBeige {
  background-color: #A63760;
  position: relative;
  left: 1172px;
  width: 60vw;
  height: 84vh;
  border: 2px solid #450920;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transition: left 2s ease;

}


h1 {

  font-family: 'Pacifico';
  font-style: italic;
  font-size: 42px;

}

h2 {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  font-size: 24px;
}


.iconeContact {
  display: flex;
  justify-content: space-around;
  height: 40px;
  width: 200px;
  margin-top: 20px;
}


#iconeLindekin,
#iconeMail,
#iconeGitlab {
  height: 40px;
}


#carreBlanc {
  background-color: white;
  border: 2px solid #450920;
  width: 325px;
  height: 325px;
  position: absolute;
  top: -36%;
  left: 32%;
  z-index: 1;
  transition: top 2s ease;

}


#photoProfil {
  border: 2px solid #450920;
  background-size: cover;
  width: 325px;
  height: 325px;
  position: absolute;
  top: 100%;
  left: 28%;
  z-index: 2;
  transition: top 2s ease;

}


.divMonTexte {
  height: 100vh;
  width: 0;
  position: absolute;
  left: 33em;
}


.containerMonTexte {
  margin-top: 100vh;
  /* Déplace le parchemin hors de la zone visible */
  transition: margin-top 2s ease;
  /* Transition douce pour l'effet de déroulement */
}


#monTexte {
  font-family: 'Playfair Display', sans-serif;
  font-weight: bold;
  font-style: italic;
  line-height: 1.5;
  padding: 10px;
  width: 850px;
  border: 2px solid #450920;
  background-color: white;
  color:#450920;
  font-size: 16px;
}


.mesProjets {
  margin-top: 0px;
  /* Décaler le contenu projets vers le bas  */
  margin-bottom: 380px;
}


h3 {
  font-family: 'Playfair Display', sans-serif;
  font-style: italic;
  font-size: 18px;
}


#bandeCouleurProjet1 {
  background-color:#DB617D;
  height: 90px;
  display: flex;
  transition: margin-top 2s ease-in-out;
  align-items: center;
}


#bandeCouleurProjet2 {
  background-color: #FFA5AB;
  height: 90px;
  transition: margin-top 2s ease-in-out;
  display: flex;
  align-items: center;
  position: relative;
  top: 135px;
}


#bandeCouleurProjet3 {
  background-color: #A63760;
  height: 90px;
  display: flex;
  align-items: center;
  transition: margin-top 2s ease-in-out;
  position: relative;
  top: 260px;
}


#imgProjet1 {
  height: 14em;
  width: 14em;
  background-color: white;
  border: 2px solid #A63760;
  position: absolute;
  left: 10vw;
}




#imgProjet2 {
  height: 14em;
  width: 14em;
  background-color: white;
  border: 2px solid #DB617D;
  position: absolute;
  right: 10vw;
}


#imgProjet3 {
  height: 14em;
  width: 14em;
  background-color: white;
  border: 2px solid #FFA5AB; 
  position: absolute;
  left: 10vw;
}


.NomDuProjetetLangages {
  font-family: 'Pacifico';
  color: white;
  position: absolute;
  left: 35vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 35vw;

}


.NomDuProjetetLangages img {
  height: 35px;
}


#Langages{
  width: 330px;
  display: flex;
  justify-content: space-around;
}


@media screen and (max-width: 990px) {

  header p,
  footer p {
    margin: 2.3vh;
    /**/
    padding: 0 2vw;
    width: 14vw;
    /**/
    height: 4vh;
    /**/
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #450920;
    background-color: white;
    font-weight: bold;
    font-style: italic;
  }

  .block1Photo {
    height: 80vh;
  }

  #carreRouge {
    background-color: #450920;
    width: 39vw;
    /**/
    height: 55vh;
    /**/
    margin-top: 7vh;
    /**/
  }


  #carreBeige {
    background-color: ##AC3940;
    width: 55vw;
    /**/
    height: 74vh;
    /**/
    border: 2px solid #132A13;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
  }

  h1 {

    font-family: 'Pacifico';
    font-style: italic;
    font-size: 20px;
    /**/
    margin-top: 430px;
    /**/

  }

  h2 {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-size: 16px;
    /**/
  }


  .iconeContact {
    display: flex;
    justify-content: space-around;
    height: 40px;
    /**/
    width: 200px;
    /**/
    margin-top: 20px;
  }


  #iconeLindekin,
  #iconeMail,
  #iconeGitlab {
    height: 25px;
    /**/
  }



  #carreBlanc {
    background-color: white;
    border: 2px solid #450920;
    width: 200px;
    /**/
    height: 200px;
    /**/
    position: absolute;
    top: 36%;
    left: 32%;
    z-index: 1;
  }


  #photoProfil {
    border: 2px solid #450920;
    background-size: cover;
    width: 200px;
    /**/
    height: 200px;
    /**/
    position: absolute;
    top: 30%;
    left: 28%;
    z-index: 2;
  }

  .divMonTexte {
    height: 100vh;
    width: 0;
    position: absolute;
    left: 10em;
    /**/
  }


  #monTexte {
    font-family: 'Playfair Display', sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    /**/
    padding: 10px;
    width: 300px;
    /**/
    border: 2px solid #450920;
    background-color: white;
    color: #450920;
  }

  .mesProjets {
    margin-top: 0px;
    /* Décaler le contenu projets vers le bas  */
    margin-bottom: 380px;
  }


  h3 {
    font-family: 'Playfair Display', sans-serif;
    font-style: italic;
    font-size: 16px;
  }


  #bandeCouleurProjet1 {
    background-color: #450920;
    height: 90px;
    transition: margin-top 2s ease-in-out;
    display: flex;
    align-items: center;
    position: relative;
    /**/
    top: 170px;
    /**/
  }


  #bandeCouleurProjet2 {
    background-color: ##AC3940;
    height: 90px;
    transition: margin-top 2s ease-in-out;
    display: flex;
    align-items: center;
    position: relative;
    top: 320px;
    /**/
  }


  #bandeCouleurProjet3 {
    background-color: #A63760;
    height: 90px;
    display: flex;
    align-items: center;
    transition: margin-top 2s ease-in-out;
    position: relative;
    top: 465px;
    /**/
  }


  #imgProjet1 {
    height: 10em;
    /**/
    width: 10em;
    /**/
    background-color: white;
    border: 2px solid #A63760;
    position: absolute;
    left: 10vw;
  }


  #imgProjet2 {
    height: 10em;
    /**/
    width: 10em;
    /**/
    background-color: white;
    border: 2px solid #450920;
    position: absolute;
    right: 10vw;
  }


  #imgProjet3 {
    height: 10em;
    /**/
    width: 10em;
    /**/
    background-color: white;
    border: 2px solid ##AC3940;
    position: absolute;
    left: 10vw;
  }


  .NomDuProjetetLangages {
    font-family: 'Pacifico';
    color: white;
    position: absolute;
    left: 35vw;
    display: flex;
    flex-direction: column;
    /**/
    /* align-items: center;
    justify-content: space-around; */
    width: 35vw;
    /**/
    bottom: 4px;
  }

  .NomDuProjetetLangages img {
    height: 30px;
  }




}